.game-background {
  background-color: rgb(10,126,125);
  background-image: url('../src/assets/board.svg');
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  height: 100vmin;
  width: 100vw;
  z-index: -999999;
}